.bg-aliceblue {
  background-color: aliceblue;
}
.heading {
  font-size: 20px;
}
input {
  font-size: 15px;
  font-family: calibri, "Segoe UI";
  /* height: 25px;
    width: 300px;
    border-radius: 1.5em;
 */
  padding-left: 10px;
  outline: none;
  /* padding: 2px; */
  border: unset;
  margin: 10px;
  /* border-color: white; */
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  height: 25px;
  width: 500px;
  border-radius: 1.5em;
}
.regType {
  min-width: 100px;
}
.hightlight:hover {
  background-color: grey;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rt-space {
  margin-right: 40px;
}

.pic {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.logo {
  background: url(./Images/Logo.png);
  /* filter: invert(7%) sepia(90%) saturate(5821%) hue-rotate(244deg)
    brightness(140%) contrast(154%); */
  /* filter: invert(7%) sepia(90%) saturate(5821%) hue-rotate(225deg)
    brightness(140%) contrast(154%); */
  /* filter: invert(18%) sepia(83%) saturate(1810%) hue-rotate(212deg)
    brightness(101%) contrast(99%); */
  filter: invert(27%) sepia(80%) saturate(1162%) hue-rotate(192deg)
    brightness(86%) contrast(118%);
  width: 200px;
  height: 40px;
  margin-left: 30px;
  /* margin: 10px; */
}

.cursor {
  outline: none;
  cursor: pointer;
}

table {
  text-align: left;
  border-spacing: 0px;
}

.bg-white {
  background-color: white;
}

.group {
  position: relative;
}

.header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #1e48a4;
  width: 100vw;
  color: white;
}
.heading {
  font-size: 20px;
}
tr {
  background-color: #f0f5ff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}
.icon {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

.searchBox {
  margin-left: 20px;
  display: flex;
  top: 60px;
}

/* .viewPort {
  width: 1480px;
  position: relative;
  height: 80vh;
  overflow-y: auto;
} */

.itemContainer {
  overflow-y: auto;
  position: absolute;
  width: 1480px;
  max-height: 80vh;
}

.item {
  position: absolute;
}

.fixed {
  box-shadow: unset;
  /* position: fixed; */
  background-color: white;
  z-index: 2;
}

th {
  cursor: pointer;
}
td {
  background-color: #f0f5ff;
}
th,
td {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  min-width: 150px;
  height: 30px;
}

.modal-container {
  background-color: white;
  z-index: 4;
  width: 70px;
  position: absolute;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

.App {
  text-align: center;
  font-family: calibri, Segoe UI;
}

.itemContainer::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.itemContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.itemContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}
